.Button {
    width: 3rem;
    height: 2rem;
    background-color: rgb(225, 215, 213);
    color: black;
    text-decoration: solid;
    font-size: 2rem;
    margin: 15px;
    padding: 10px;
    
    

}
.Counteiner {
    display: flex;
    justify-content: space-between;
    align-items: center; 
  }
  
  
  .Controls {
    display: flex;
    align-items: center; 
  }
  
  .Controls button {
    margin: 10 px; 
  }
  

